html, body {
    overflow-x: hidden;
}

.menu {
    margin-top: 40px;
}

.menu ul {
    list-style: none;
    padding: 10px 0 10px 0;
}
.menu ul li {
    display: inline-block;
    margin: 0 0 0 10px;
}
.menu ul li a {
    text-decoration: underline;
}
.menu ul li::after:not(:last-child) {
    content: '|';
    margin-left: 10px;
}
.menu ul::after {
    content: ' ';
    display: block;
    clear: both;
}

.header--logo {
    width: 100%;
    display: inline-block;
}

.header--logo img {
    max-width: 100%;
}
.header--menu {
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
.header_social-area {
    display: flex;
    flex-flow: row nowrap;
}
.header_social-link {
    display: block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}
.header_social-link.telegram {
    background-color: rgba(0, 136, 204, 1);
}
.header_social-link.whatsapp {
    background-color: rgba(13, 217, 9, 1);
}
.header_social-link:hover {
    text-decoration: none;
    opacity: 0.8;
}
.header_social-img {
    width: 30px;
    height: 30px;
    fill: #ffffff;
}
.offer-block {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.offer {

}
.offer_heading {
    margin-bottom: 4rem;
}
.offer_subheading {

}
.offer_text {
    font-size: 18px;
}
.offer_list {
    list-style: none;
    padding-inline-start: 0;
}
.offer_list-item {
    font-size: 16px;
    margin-bottom: 5px;
    background: url(/images/galka.gif) no-repeat left 50%;
    padding-left: 30px;
}
.offer_form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.offer_form-input {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    border: 1px solid #333333;
    border-radius: 4px;
}
.offer_form-btn {
    width: 100%;
    background-color: #16bc00;
    border-color: #16bc00;
    font-weight: bold;
    padding: 6px 0;

}
#timer {
    margin-bottom: 1rem;
}
.base-timer {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.base-timer__svg {
    transform: scaleX(-1);
}
.base-timer__circle {
    fill: none;
    stroke: none;
}
.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}
.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}
.base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
}
.base-timer__path-remaining.orange {
    color: orange;
}
.base-timer__path-remaining.red {
    color: red;
}
.base-timer__label {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}
.sticky-btn-link {
    display: none;
}
.contacts_social-header {
    text-align: center;
}
.contacts_social-area {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.contacts_social-link {
    display: block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}
.contacts_social-link.telegram {
    background-color: rgba(0, 136, 204, 1);
}
.contacts_social-link.whatsapp {
    background-color: rgba(67, 216, 84, 1);
}
.contacts_social-link:hover {
    text-decoration: none;
    opacity: 0.8;
}
.contacts_social-img {
    width: 30px;
    height: 30px;
    fill: #ffffff;
}
@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("../fonts/fa-solid-900.eot");
    src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
        url("../fonts/fa-solid-900.woff2") format("woff2"),
        url("../fonts/fa-solid-900.woff") format("woff"),
        url("../fonts/fa-solid-900.ttf") format("truetype"),
        url("../fonts/fa-solid-900.svg#fontawesome") format("svg");
}
@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/fa-regular-400.eot");
    src: url("../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
        url("../fonts/fa-regular-400.woff2") format("woff2"),
        url("../fonts/fa-regular-400.woff") format("woff"),
        url("../fonts/fa-regular-400.ttf") format("truetype"),
        url("../fonts/fa-regular-400.svg#fontawesome") format("svg");
}

@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/fa-brands-400.eot");
    src: url("../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fa-brands-400.woff2") format("woff2"),
    url("../fonts/fa-brands-400.woff") format("woff"),
    url("../fonts/fa-brands-400.ttf") format("truetype"),
    url("../fonts/fa-brands-400.svg#fontawesome") format("svg");
}

.fab {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400; }

.fa,
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.fa,
.fas,
.far,
.fal,
.fad,
.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa-phone:before {
    content: "\f095";
}
.fa-telegram:before {
    content: "\f2c6";
}
.fa-telegram-plane:before {
    content: "\f3fe";
}
.fa-whatsapp:before {
    content: "\f232";
}
.fa-whatsapp-square:before {
    content: "\f40c";
}
.callback_multi-button {
    background: linear-gradient(to top, #0dd909, #04e800);
    border: 2px solid #0dd909;
    border-radius: 50%;
    box-shadow: 0 8px 10px rgba(13, 217, 9, 0.3);
    cursor: pointer;
    width: 68px;
    height: 68px;
    text-align: center;
    position: fixed;
    right: 5%;
    bottom: 5%;
    padding: 10px;
    z-index: 99999;
    transition: .3s;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 1s infinite;
}
.callback_back {
    position: relative;
}
.callback_multi-button:hover {
    z-index: 1;
    background: linear-gradient(to top, #0dd909, #04e800);
    color: transparent;
    transition: .3s;
}
.callback_multi-button:hover i {
    transition: .3s;
}
.callback_multi-button i  {
    color: #ffffff;
    font-size: 4rem;
    transition: .5s ease-in-out;
}
.callback_phone > a > i {
    animation: 1200ms ease 0s normal none 1 running shake;
    animation-iteration-count: infinite;
    -webkit-animation: 1200ms ease 0s normal none 1 running shake;
    -webkit-animation-iteration-count: infinite;
}
.callback_dropdown {

    z-index: 999999;
    position: absolute;
    right: -15%;
    bottom: 120%;
    padding-bottom: 1.5rem;
}
.callback_dropdown-item {
    padding-bottom: 1rem;
    z-index: 999999;
}
.callback_dropdown-item i {
    padding: 10px 12.5px;
    border: 0;
    border-radius: 100px;
    color: #ffffff;
}
.callback_dropdown-item_link {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}
.callback_dropdown-item_link:hover, .callback_dropdown-item_link:active, .callback_dropdown-item_link:visited,
.callback_dropdown-item_link:focus {
    text-decoration: none;
}
.callback_dropdown-item_text {
    background-color: #212121;
    padding: 0.5rem 1.5rem;
    border: 0;
    border-radius: 50px;
    color: #ffffff;
    font-size: 18px;
    white-space: nowrap;
    margin-right: 1rem;
    z-index: 999999;
}
.callback_phone-text {
    background-color: #212121;
    padding: 0.5rem 1.5rem;
    border: 0;
    border-radius: 50px;
    color: #ffffff;
    font-size: 18px;
    white-space: nowrap;
    z-index: 999999;
}
#callback_phone-text_back {
    padding-right: 25px;
}
#callback_phone-icon {
    margin: 0 auto;
    padding-right: 5px;
}
#callback_telegram-icon {
    background-color: #0088cc;
}
#callback_whatsapp-icon {
    background-color: #25d366;
}
#callback_phone-icon-mobile {
    background-color: #0dd909;
    padding: 10px!important;
}

.callback_stop {
    display: none;
}
@-webkit-keyframes hoverWave {
    0% {
        box-shadow:0 8px 10px rgba(13, 217, 9, 0.3),0 0 0 0 rgba(13, 217, 9, 0.2),0 0 0 0 rgba(13, 217, 9, 0.2)
    }
    40% {
        box-shadow:0 8px 10px rgba(13, 217, 9, 0.3),0 0 0 15px rgba(13, 217, 9, 0.2),0 0 0 0 rgba(13, 217, 9, 0.2)
    }
    80% {
        box-shadow:0 8px 10px rgba(13, 217, 9, 0.3),0 0 0 30px rgba(13, 217, 9, 0),0 0 0 26.7px rgba(13, 217, 9, 0.067)
    }
    100% {
        box-shadow:0 8px 10px rgba(13, 217, 9, 0.3),0 0 0 30px rgba(13, 217, 9, 0),0 0 0 40px rgba(13, 217, 9, 0.0)
    }
}@keyframes hoverWave {
     0% {
         box-shadow:0 8px 10px rgba(13, 217, 9, 0.3),0 0 0 0 rgba(13, 217, 9, 0.2),0 0 0 0 rgba(13, 217, 9, 0.2)
     }
     40% {
         box-shadow:0 8px 10px rgba(13, 217, 9, 0.3),0 0 0 15px rgba(13, 217, 9, 0.2),0 0 0 0 rgba(13, 217, 9, 0.2)
     }
     80% {
         box-shadow:0 8px 10px rgba(13, 217, 9, 0.3),0 0 0 30px rgba(13, 217, 9, 0),0 0 0 26.7px rgba(13, 217, 9, 0.067)
     }
     100% {
         box-shadow:0 8px 10px rgba(13, 217, 9, 0.3),0 0 0 30px rgba(13, 217, 9, 0),0 0 0 40px rgba(13, 217, 9, 0.0)
     }
 }
/* animations icon */
@keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
}
@-webkit-keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
}
/* конец кнопки звонка */
@media screen and (max-width: 1200px) {
    .article--body table {
        width: auto !important;
    }

    .article--body img {
        max-width: 100% !important;
        height: auto !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .article--body {
        max-width: 595px;
        float: right;
    }
}

@media screen and (max-width: 768px) {
    .header--logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header--menu {
        text-align: center !important;
    }
    .header--menu h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .header--menu h4 small {
        margin-right: 5px;
    }
    .bottom--devider {
        display: none;
    }
    .news--devider {
        display: flex;
        justify-content: center;
    }
    .news--devider--img {
        width: calc(100% - 30px)
    }
    .bottom--bg {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 250px !important;
        margin-bottom: -40px !important;
    }
    .faq--textarea {
        width: 100% !important;
    }
    .main-row {
        display: flex;
        flex-flow: column-reverse nowrap;
    }
    .header--logo img {
        width: 50%;
    }
    .header--menu {
        flex-flow: column nowrap;
    }
    .header_social-area {
        justify-content: center;
    }
    .header_social-link {
        width: 40px;
        height: 40px;
    }
    .header_social-img {
        width: 20px;
        height: 20px;
    }
    .offer-block row {
        flex-flow: column nowrap;
    }
    .sticky-btn-link {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        position: fixed;
        height: 50px;
        width: 100%;
        bottom: 0;
        text-align: center;
        background-color: #16bc00;
        z-index: 999999;
    }
    .sticky-btn-link:hover {
        text-decoration: none;
        color: #ffffff;
    }
    .sticky-btn-link span {
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
    }
}
@media (max-width: 750px) {


}
@media screen and (max-width: 575px) {
    .article--body table {
        font-size: 12px !important;
    }
}

#sendmessage, #senderror {
    border: 1px solid #e6e6e6;
    background: #f6f6f6;
    display: none;
    text-align: center;
    padding: 15px 12px 15px 65px;
    margin: 10px 0;
    font-weight: 600;
    margin-bottom: 30px;
}
#senderror {
    color: #f00;
}
#senderror span {
    font-weight: bold;
}
.service-first-img {
    width: 250px;
    float: left;
    margin: 30px 30px 10px 0;
}
.service-bottom-img {
    height: 250px;
    margin: 10px 20px 0 0;
}
